doctype html
html
  head
    title 酷鸟自动调价
    script(type='text/javascript').
      foo = true;
      bar = function () {};
      if (foo) {
      bar(1 + 6)
      }
  body
    h1 Jade - node template engine
    #container.col
      p You are amazing
      p
        | 234
        | 234234
        | 24234
        | 234234234